
html {		
	height: 100%;
	width: 100%;
	background-color: black;
}
	
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: black;
		
}

.smooth_zoom_preloader {
	background-image: url(../index/img/preloader.gif);
}	
.smooth_zoom_icons {
	background-image: url(../index/img/icons.png);
}


/* General styles for all menus */
.menu {
	background: #F2F2F2;
	position: fixed !important;
	width: 25%;
	padding: 10px;
	border-right-style: ridge;
    border-width: 5px;	
    border-color: #BDBDBD;
   

}

.menu a {
	color: #6E6E6E;
	
}

.menu .dropdown a {
	color: #993300;
}

.menu ul {
	list-style: none;
	padding-left: 0;
}

.menu ul li {
	font-size: large;
}

.menu .fa {
	padding-right: 10px;
}

.menu .glyphicon {
	padding-right: 10px;
}

/* Orientation-dependent styles for the content of the menu */

.menu-vertical {
	
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
}


.menu-left.menu-open {
	left: 0px;
}

#transcribebox {
	margin-bottom: 10px;
}

.nav-tabs {
	margin-bottom: 10px;
}

#save-button {
	margin-bottom: 10px;
}


#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#egrip{
	right: -5px;
     top:50%;
     z-index: 3000;

}
