
html {		
	height: 100%;	
}
	
body {
	width: 100%;
	height: 100%;
	margin: 0px;		
}

.smooth_zoom_preloader {
	background-image: url(../index/img/preloader.gif);
}	
.smooth_zoom_icons {
	background-image: url(../index/img/icons.png);
}


/* General styles for all menus */
.menu {
	background: #F2F2F2;
	position: fixed;
	padding: 10px;
	border-left-style: ridge;
    border-width: 5px;	
    border-color: #BDBDBD;
    overflow-y: scroll;
}

.menu a {
	color: #6E6E6E;
	
}

.menu .dropdown a {
	color: #993300;
}

.menu ul {
	list-style: none;
	padding-left: 0;
}

.menu ul li {
	font-size: large;
}

.menu .fa {
	padding-right: 10px;
}

.menu .glyphicon {
	padding-right: 10px;
}

/* Orientation-dependent styles for the content of the menu */

.menu-vertical {
	width: 25%;
	height: 100%;
	top: 0;
	z-index: 1000;
}


.menu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.menu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

/* Vertical menu that slides from the left or right */

.menu-left {
	left: -240px;
}

.menu-right {
	right: -240px;
}

.menu-left.menu-open {
	left: 0px;
}

.menu-right.menu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.menu-top {
	top: -150px;
}

.menu-bottom {
	bottom: -150px;
}

.menu-top.menu-open {
	top: 0px;
}

.menu-bottom.menu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.menu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-push-toright {
	left: 240px;
}

.menu-push-toleft {
	left: -140px;
}

/* Transitions */

.menu,
.menu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.menu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.menu-top {
		top: -110px;
	}

	.menu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.menu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.menu-left,
	.menu-push-toleft {
		left: -190px;
	}

	.menu-right {
		right: -190px;
	}

	.menu-push-toright {
		left: 190px;
	}
}

#transcribebox {
	margin-bottom: 10px;
}

.nav-tabs {
	margin-bottom: 10px;
}

#save-button {
	margin-bottom: 10px;
}